# Possible build dirs:
build/
release/

# System files
*.DS_Store*

# Project files
CMakeLists.txt.user
.tx/*

# Debian/build
obj*
debian/*debhelper*
debian/*substvars*
debian/files
debian/tmp/
debian/tano/
debian/tano-data/
debian/tano-dbg/

# Branding
src/branding/*/

