# Possible build dirs:
build/

# Project files
CMakeLists.txt.user
.tx/*

# Debian/build
obj*
debian/*debhelper*
debian/*substvars*
debian/files
debian/tmp/
debian/tano/
debian/tano-data/
debian/tano-dbg/

# Other
src/custom/SettingsDefaults.cpp
src/custom/SettingsShortcutsDefaults.cpp
src/custom/VERSION

tt*
