# Possible build dirs:
build/

# System files
*.DS_Store*

# Project files
CMakeLists.txt.user
.tx/*

# Debian/build
obj*
debian/*debhelper*
debian/*substvars*
debian/files
debian/tmp/
debian/tano/
debian/tano-data/
debian/tano-dbg/

# Branding 
branding/Branding*
branding/ExtraConfig.h.in
branding/FEATURES
branding/logo
branding/Log.*
branding/SettingsDefaults.cpp
branding/SettingsShortcutsDefaults.cpp
branding/VERSION
branding/windows
branding/update.xml
branding/tano.ico
branding/*.jpg

tt*
