[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Tano Mobile
Exec=/usr/bin/single-instance /opt/tanomobile/bin/tanomobile
Icon=/usr/share/icons/hicolor/80x80/apps/tanomobile80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
