Source: tano
Section: misc
Priority: extra
Maintainer: Tadej Novak <tadej@tano.si>
Build-Depends: debhelper (>= 7), cmake (>=3.0.2), qtbase5-dev (>=5.2), libvlc-qt-dev (>=1.0), libx11-dev
Standards-Version: 3.9.1
Homepage: http://tano.si/tano-player/

Package: tano
Architecture: any
Depends: ${misc:Depends}, tano-data (= ${source:Version}), libqt5concurrent5 (>=5.2), libqt5dbus5 (>=5.2), libqt5network5 (>=5.2), libqt5sql5 (>=5.2), libqt5sql5-sqlite (>=5.2), libqt5printsupport5 (>=5.2), libqt5widgets5 (>=5.2), libqt5xml5 (>=5.2), libvlc-qt-widgets2 (>= 1.0)
Description: Tano - an open-source cross-platform IP TV player
 Tano is an open-source cross-platform IP TV player. It features
 full IP TV playback with EPG and recorder. Project started
 because of a need of a simple IP TV player on Linux providing EPG.

Package: tano-dbg
Architecture: any
Depends: ${misc:Depends}, tano (= ${binary:Version})
Description: Tano - an open-source cross-platform IP TV player
 Tano is an open-source cross-platform IP TV player. It features
 full IP TV playback with EPG and recorder. Project started
 because of a need of a simple IP TV player on Linux providing EPG.
 .
 This package contains the debugging symbols for Tano.

Package: tano-data
Architecture: all
Depends: ${misc:Depends}
Description: Tano - an open-source cross-platform IP TV player [data]
 Tano is an open-source cross-platform IP TV player. It features
 full IP TV playback with EPG and recorder. Project started
 because of a need of a simple IP TV player on Linux providing EPG.
 .
 This package contains Tano platform independent files.
