[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=tanomobile
Exec=invoker --single-instance --type=d /opt/tanomobile/bin/tanomobile
Icon=/usr/share/icons/hicolor/scalable/apps/tanomobileharmattan.svg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
