[Desktop Entry]
Encoding=UTF-8
Name=Tano
GenericName=Tano IP TV Player
GenericName[sl]=Tano IP TV Predvajalnik
GenericName[ru]=Проигрыватель IP TV Tano
GenericName[fr]=Tano Télévision sur IP
Comment=Internet TV player
Comment[sl]=Predvajalnik spletne televizije
Comment[ru]=Программа для просмотра IP-телевидения
Comment[fr]=Télévision par Internet
Exec=tano
Icon=tano
Terminal=false
Type=Application
Categories=Application;AudioVideo;
StartupNotify=true
